@model IEnumerable<fly.Models.Exhibit>


@{
    ViewData["Title"] = $"Экспонаты из категории: {ViewBag.CategoryName}";
}

<h1>Категории: @ViewBag.CategoryName</h1>


<p>
    <a asp-action="Create" asp-route-brandId="@ViewBag.CategoryId" class="btn btn-primary">Добавить новый экспонат</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="car-model-card position-relative">
                @if (!string.IsNullOrEmpty(item.LogoPath))
                {
                    <div class="car-model-logo-container">
                        <img src="@item.LogoPath" alt="Логотип" class="img-fluid car-model-logo" />
                    </div>
                }
                <div class="car-model-info position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-center">
                    <h5>@item.ExhibitName</h5>
                    <a asp-action="Edit" asp-route-id="@item.ExhibitId" asp-route-brandId="@ViewBag.CategoryId" class="btn btn-sm btn-warning mb-2">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.ExhibitId" asp-route-brandId="@ViewBag.CategoryId" class="btn btn-sm btn-danger mb-2">Удалить</a>
                    <a asp-action="Index" asp-controller="Parts" asp-route-carModelId="@item.ExhibitId" class="btn btn-sm btn-primary">Экспонаты</a>
                </div>
            </div>
        </div>
    }
</div>
<p>
    <a asp-action="Index" asp-controller="Brands" class="btn btn-secondary">Назад</a>
</p>
@section Styles {
    <style>
        .car-model-card {
            overflow: hidden;
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: transform 0.3s;
            position: relative;
            height: 200px; /* Фиксированная высота для карточек */
        }

            .car-model-card:hover {
                transform: scale(1.05);
            }

        .car-model-logo-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .car-model-logo {
            max-width: 100%;
            max-height: 100%;
            transition: filter 0.3s;
        }

        .car-model-card:hover .car-model-logo {
            filter: blur(5px);
        }

        .car-model-info {
            background-color: rgba(255, 255, 255, 0.8);
            opacity: 0;
            transition: opacity 0.3s;
        }

        .car-model-card:hover .car-model-info {
            opacity: 1;
        }
    </style>
}