@model fly.Models.Insurance
@{
    ViewData["Title"] = "Удалить страхование";
}

<h2>@ViewData["Title"]</h2>
<h3>Вы уверены, что хотите удалить это страхование?</h3>

<div>
    <h4>Информация о страховании</h4>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Exhibit.ExhibitDescription)</dt>
        <dd class="col-sm-10">@Model.Exhibit?.ExhibitDescription</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.InsuranceCompany)</dt>
        <dd class="col-sm-10">@Model.InsuranceCompany</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.PolicyNumber)</dt>
        <dd class="col-sm-10">@Model.PolicyNumber</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StartDate)</dt>
        <dd class="col-sm-10">@Model.StartDate.ToShortDateString()</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EndDate)</dt>
        <dd class="col-sm-10">@Model.EndDate.ToShortDateString()</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CoverageAmount)</dt>
        <dd class="col-sm-10">@Model.CoverageAmount.ToString("C")</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="InsuranceId" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>