@model fly.Models.Insurance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Insurance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverageAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverageAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exhibit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exhibit.ExhibitDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InsuranceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
