@model fly.Models.Movement

@{
    ViewData["Title"] = "Удалить перемещение";
}

<h1>Удалить перемещение</h1>

<div class="row">
    <div class="col-md-6">
        <h4>Вы уверены, что хотите удалить это перемещение?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ExhibitId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Exhibit.ExhibitName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FromStorageLocationId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FromStorageLocation.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ToStorageLocationId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ToStorageLocation.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.MovementDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.MovementDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Notes)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="MovementId" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Вернуться к списку</a>
        </form>
    </div>
</div>