@model IEnumerable<fly.Models.Movement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromStorageLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToStorageLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exhibit.ExhibitDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromStorageLocation.StorageLocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToStorageLocation.StorageLocationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
