@model fly.Models.CustomUser

@{
    ViewData["Title"] = "Удалить пользователя";
}

<h1>Удалить пользователя</h1>

<h4>Пользователь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Вы уверены, что хотите удалить этого пользователя?</h3>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ima)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ima)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SecSurname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SecSurname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Podrazdelenie.PodrazdelenieName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Podrazdelenie.PodrazdelenieName)
            </dd>
        </dl>
        <form asp-action="Delete">
            <div class="form-group">
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>