@model fly.Models.Restoration

@{
    ViewData["Title"] = "Удалить реставрацию";
}

<h1>Удалить реставрацию</h1>

<h3>Вы уверены, что хотите удалить эту реставрацию?</h3>
<div>
    <h4>Реставрация</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exhibit.ExhibitName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestorationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestorationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestorerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestorerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RestorationId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>