@model IEnumerable<fly.Models.Restoration>

@{
    ViewData["Title"] = "Список реставраций";
}

<h1>Список реставраций</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить новую реставрацию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ExhibitId)</th>
            <th>@Html.DisplayNameFor(model => model.RestorationDate)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.RestorerName)</th>
            <th>@Html.DisplayNameFor(model => model.IsApproved)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Exhibit.ExhibitName)</td>
                <td>@Html.DisplayFor(modelItem => item.RestorationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.RestorerName)</td>
                <td>@Html.DisplayFor(modelItem => item.IsApproved)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RestorationId">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.RestorationId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>