@model fly.Models.ExhibitInExhibition

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите это сделать?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exhibit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exhibit.ExhibitId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exhibition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exhibition.ExhibitionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacementDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExhibitInExhibitionId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ExhibitId">Возврат к списку</a>
    </form>
</div>
