@model IEnumerable<fly.Models.Visit>

@{
    ViewData["Title"] = "Index";
}


<p>
     Посетитель - @ViewBag.Visitor
</p>


<p>
    <a asp-controller="Visitors" asp-action="Index">Возврат к списку посетителей</a>
</p>
<p>
    <a asp-action="Create" asp-route-id="@ViewBag.VisitorId">Добавить новое посещение</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Visitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Visitor.VisitorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exhibition.ExhibitionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.VisitId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
