@model fly.Models.Visitor

@{
    ViewData["Title"] = "Details";
}

<h1>Просмотр</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VisitorId">Редактировать</a> |
    <a asp-action="Index">Возврат к списку</a>
</div>
