@model IEnumerable<fly.Models.Visitor>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Посетитель
            </th>
            <th>
                Возраст
            </th>
            <th>
                Количество посещений выставок
                </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorFirstName)
            
            
                @Html.DisplayFor(modelItem => item.VisitorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
                <td style="text-align: center;">
                    @item.Visits.Count()
                </td>

          
            <td>
                    <a asp-controller="Visits" asp-action="Index" asp-route-id="@item.VisitorId">Посещения</a> |
                    <a asp-action="Edit" asp-route-id="@item.VisitorId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.VisitorId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitorId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
